footer{
     width: 100%;
     border: 2px solid grey;
     display: flex;
     height: 50vh;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}

.footer_text_container.contact_title {
     padding: 26px 12px 14px 22px;
}
.footer_text_container.contact_title h1{
     font-size: 60px;
     
}
.footer_text_container{
     padding: 26px 0px 0px 22px;
}