footer{
     width: 100%;
     display: flex;
     height:24vh;
     display: flex;
     flex-direction: column;
     background-color: black;
     opacity: 0.8;
     
}

.contact_container{
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: center;
}
.contact_container h1{
     font-size: 52px;
     padding-bottom: 22px;
}
.contact_icons{
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: 40px;
}
.contact_icons>div img{
     width: 30px;
     fill:white;
     color: green;
     -webkit-filter: invert(100%); /* Safari/Chrome */
     filter: invert(100%);
     opacity: 0.7;
     /* filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(0%) contrast(143%); */
}

#footer_copyrights{
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: center;
     background-color: black;
     opacity: 0.8;
     padding-bottom: 12px;
}
