footer{
     width: 100%;
     border: 2px solid grey;
     display: flex;
     height:24vh;
     display: flex;
     flex-direction: column;
     margin-bottom: 12px;
}

.contact_container{
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: center;
}
.contact_container h1{
     font-size: 52px;
     padding-bottom: 22px;
}
.contact_icons{
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: 40px;
}
.contact_icons>div img{
     width: 30px;
}
#footer_copyrights{
     width: 100%;
     display: flex;
     justify-content: center;
     align-content: center;
}
