#wrapper_background{
     width: 100%;
     display: flex;
     width: 100%;
     position: absolute;
     top: 0px;
     left:0px;
     background-image:url("../assets/background/big_screen_background");
     background-repeat: no-repeat;
     background-size:100% 100%;
     background-attachment: fixed;   
     overflow-y: hidden;  
}

/* add ne background img for mobiles */
@media only screen and (max-width: 768px) {
     #wrapper_background{
          background-image:url("../assets/background/spaceWallepper3.jpg");
     }
   }